:root {
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #f3f3f3;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
}

.card {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
}

-card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner .is-flipped {
    transform: rotateY(180deg);
}